
body {
    font-family: Arial, Helvetica, sans-serif, serif;
}

* {
    font-size: 20px;
}

.logo img {
    border: 4px #ff0000;
    border-radius: 16px;
    background-clip: padding-box;
    padding: 8px;
    background: linear-gradient( #ff0000, #ff0000);
}

.title > h3 {
    text-shadow: 0px 0px 0px #aa3c41, 7px 7px 0px rgb(0, 0, 253);
    color: #aa3c41;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.drop-cap::first-letter {
    font-size: 400%;
    color: #000000;
}

.drop-cap {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title a {
    color: #000000;
}

.text-bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

table , th, td {
    border: 1px solid #dfe2e5;
    border-collapse: collapse;
    margin: 15px;
}
th, td {
    min-width: 50px;
    padding: 10px;
    text-align: center;
}

.section-title {
    color: #aa3c41;
    font-weight: bold;
}
.red {
    color: #ff0000;
}
.blue {
    color: #000000;
}

.blue {
    color: #0000ff;
}

.pl-4 {
    padding-left: 4px;
}
.pr-4 {
    padding-right: 4px;
}

.social-link a {
    font-weight: 700;

}

.active-link {
    color: #629194;
    text-shadow: 2px 3px 4px #000000;
    text-decoration: none;
}